.app {
  text-align: center;
}

.appHeader {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.appIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
